.equation-component
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start

    .equation-inputs
        // width: 7em
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start

.equation-fragment
    width: 100%
    font-size: 1.5rem
    display: flex
    flex-direction: row
    justify-content: space-between
    &::after
        // content: '+'
        margin: 0 0 0 0.3em
        color: #fff4
    &:last-of-type::after
        content: unset

    input
        width: 2.5em
        text-align: center

    .equation-element
        margin: 0 0.02em

    .equation-coefficient
        position: relative
        bottom: 0.1em
        height: auto
        margin: 0

    .equation-variable
        margin-left: 0.2em
        font-style: italic
        color: #fffd

    .equation-degree
        position: relative
        bottom: 0.6em
        font-size: 0.7em
        font-weight: normal
        font-style: italic
        color: #fffd
