$base-border: 1px solid $light-gray

form
    .field
        display: flex
        flex-direction: column
        width: 40%
        margin-bottom: 10px

    input
        border: none
        border-bottom: $base-border
        padding: 5px 5px

        &:focus
            list-style-type: none
            outline: none

    span.error
        color: $error
        font-style: italic
        font-size: 0.8rem
        margin: 5px 0

    .button
        padding: 5px 5px
        border-radius: 3px
