@import variables
@import buttons
@import nav
@import form
@import home-page
@import poly-page
@import equation

body
    margin: 0
    background-color: $BG

#app
    font-family: $mainFont

    .app-container
        .app-content-container
            margin: 0
            color: $primary

            h1
                font-size: 2.5em
                font-weight: 300
